{% extends '::frontend.html.twig' %}

{% block article %}

    {% if oferta %}

        {% include 'OfertaBundle:Default:includes/oferta.html.twig' %}

        <section>

            <h2>Disfruta de la oferta en</h2>

            <p>
                <a href="#">{{ oferta.tienda.nombre }}</a>
                <p>{{ oferta.tienda.direccion }}</p>
            </p>

        </section>

        <section>

            <h2>Sobre la tienda</h2>

            <p>{{ oferta.tienda.descripcion }}</p>

        </section>

    {% else %}

        <p>No se ha encontrado ninguna oferta para hoy</p>

    {% endif %}

{% endblock %}